<div class="row-fluid">
  <div class="span2 data_container" ng-controller="GetData">
    <!--Sidebar content-->

    <div class="search-container input-append">
        <input name="query" class="search span8" type="text" ng-model="query" placeholder="Find by name...">
        <button class="btn" ng-click="clearQuery()">
          <b class="icon">x</b>
        </button>
        <div class="information-container" data-toggle="modal" data-target="#infoModal">
          <i class="icon-white icon-info-sign"></i>
        </div>
    </div>

      <ul class="scrollable_data_container nav nav-tabs nav-stacked">
        <li ng-repeat="location in data.rawData | filter:query" style="display: block;">
          <a href="#" ng-click="showInfo($event)">{{location.site_name}}
            <span class="caret"></span>
            <span class="caret open-caret"></span>
          </a>
          <address class="description hide well well-small" data-uid="{{location.location.longitude.split('.')[1]}}">
            <h5>{{location.address}}, {{location.city}}, {{location.state}} {{location.zip}}</h5><br>
            <small>{{location.phone}}</small><br>
            <small>{{location.hours_of_operation}}</small><br>
            <small>{{location.additional_notes}}</small>
          </address>
        </li>
      </ul>

  </div>
  <div class="span10 google_map_container">
    <div id="map-canvas"></div>
  </div>
</div>
<!-- Data Status -->
<div class="alert alert-info text-center">
  {{data.status}}
</div>
<!-- Info Modal -->
<div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Welcome to ChicagoWarmingCenters.com</h3>
  </div>
  <div class="modal-body">
    <p>This website was created with the intention to provide a good source of information about warming centers in Chicago. All data is provided by the City of Chicago through the <a href="https://data.cityofchicago.org/" target="_new">Chicago Open Data project.</a></p>
    <p class="text-right">Designed by <a href="http://gregremiasz.com" target="_new">Greg Remiasz</a></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>